body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
#header{
  background-color: lightblue;

}
#search-input{
  border-radius: 15px 30px;

}

#search-button{

  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 50px;
  height:50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

#search-button:hover{
    background: #668ad8;
}

#city-name{

font-family: Tahoma, Geneva, sans-serif;
font-size: 30px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 200;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}


#temp-values {
font-size: 30px;
color:plum;
}

#lat-lon{
font-size: 10px;
}
